@import '../../../style/variables';
@import '../../../style/style';

.rightSide {
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: $p-4;

    @include extraSmallScreen {
        padding-top: $p-2;
    }

    @include mediumScreen {
        padding-top: $p-3;
    }

    h3 {
        color: $orange;

        @include extraSmallScreen {
            font-size: $font-1;
        }

        @include mediumScreen {
            font-size: $font-3;
        }
    }

    .inputFields {
        margin-top: $m-7;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: $g-2;
    }

}