@import '../../../style/variables';
@import '../../../style/style';

.leftSide {
    width: 100%;
    background-image: url("../../../assets/book-illiustration-3.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $white;
    padding-left: $p-5;
    flex-direction: column;
    justify-content: space-around;

    @include extraSmallScreen {
        display: none;
    }

    @include mediumScreen {
        display: flex;
    }

    h1 {
        font-size: 40pt;
        line-height: 25px;
        color: $dark-ligther-brown;
        margin-bottom: $m-10;

        span {
            font-size: 100pt;
            color: $orange;
        }
    }

    .logIn {
        h2 {
            color: $dark-ligther-brown;

            span a {
                color: $orange;
            }
        }
    }
}