@import "../../style/variables";
@import "../../style/style";

.title {
  padding: $p-6;
  color: $dark-green;
}

.emptyLibraryTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include extraSmallScreen {
    height: 500px;
  }

  @include mediumScreen {
    height: 800px;
  }

  h1 {
    width: 100%;
    text-align: center;

    @include extraSmallScreen {
      font-size: 20pt;
    }

    @include mediumScreen {
      font-size: 30pt;
    }
  }

  .booksInProgressBtn * {

    @include extraSmallScreen {
      width: 150px;
      height: 50px;
      font-size: 8pt;
    }

    @include mediumScreen {
      width: 300px;
      height: 70px;
      font-size: $font-2;
    }
  }
}


.finishedBooksContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: auto;

  @include extraSmallScreen {
    justify-content: center;
  }

  @include mediumScreen {
    justify-content: flex-start;
  }

  .deleteFinishedBookIcon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    right: 45px;
    background-color: $orange;
    border-radius: 50%;
    text-align: center;
    padding-top: $p-1;
    color: $white;

    * {
      font-size: $p-4;
    }
  }
}
