@import "../../style/variables";
@import "../../style/style";

.singleBook {
    height: 100%;
    width: 100%;
    background-color: $primary;
    border-radius: 20px;
    display: flex;

    @include extraSmallScreen {
        flex-direction: column-reverse;
    }

    @include largeScreen {
        flex-direction: row;
    }

    span {
        color: $orange;
    }

    .bookImage {
        width: 100%;
        padding: $p-4;
        justify-content: center;

        @include extraSmallScreen {
            display: grid;
            place-items: center;
        }

        @include largeScreen {
            flex: 1;
        }


        img {
            width: 500px;
            max-height: 800px;
            object-fit: cover;
            border-radius: 20px;

            @include extraSmallScreen {
                width: 300px;
            }

            @include largeScreen {
                width: 400px;
                max-height: 600px;
            }

        }
    }

    .bookContentContainer {
        max-height: 900px;
        padding: $p-4;

        @include extraSmallScreen {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include largeScreen {
            flex: 2;
        }



        .bookContent {
            max-height: 900px;
            width: 100%;
            overflow: scroll;
            background-color: $white;
            border-radius: 10px;
            padding: $p-6;
            gap: $g-6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $dark-green;
            

            @include largeScreen {
                max-height: 600px;
            }
            

            .heading {
                padding-bottom: $p-4;
                border-bottom: 2px solid $primary;
                display: flex;
                justify-content: space-between;

                h1 {
                    max-height: 200px;
                    margin-top: $m-3;
                    margin-bottom: 0;
                    overflow: scroll;

                    @include extraSmallScreen {
                        font-size: 20pt;
                    }

                    @include largeScreen {
                        font-size: 30pt;
                        max-height: 100px;
                    }
                }

                h2 {
                    font-size: 20pt;

                    @include extraSmallScreen {
                        font-size: 10pt;
                    }

                    @include largeScreen {
                        font-size: 20pt;
                    }
                }
            }


            .pages {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: $g-3;
                padding-bottom: $p-4;
                border-bottom: 2px solid $primary;

                * {
                    font-size: $font-6;

                    @include extraSmallScreen {
                        font-size: $font-1;
                    }
                    
                    @include largeScreen {
                        font-size: $font-3;
                    }
                }
                
                .pagesIcon {
                    display: flex;
                    gap: $g-1;
                }

            }



            .bookStatus {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include extraSmallScreen {
                    flex-direction: column;
                    gap: $g-3;
                }

                @include largeScreen {
                    flex-direction: row;

                }

                * {
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $g-1;

                    @include extraSmallScreen {
                        font-size: $font-2;
                    }

                    @include largeScreen {
                        font-size: $font-3;
                    }

                }
            }
        }
    }
}