@import './variables';

body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $black;
}

.container {
    padding: $p-12 $p-4;
}

.d-none {
    display: none;
}

.d-flex {
    display: block;
}