@import './variables';

body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $black;
}

.container {
    padding: $p-12 $p-4;
}

.d-none {
    display: none;
}

.d-flex {
    display: block;
}

.grid-center {
    display: grid;
    place-items: center;
}

// RESPONSIVE DESIGN

@mixin smallScreen {
    @media (min-width: $sm) {
        @content;
    }
}

@mixin mediumScreen {
    @media (min-width: $md) {
        @content;
    }
}

@mixin largeScreen {
    @media (min-width: $lg) {
        @content;
    }
}

@mixin extraLargeScreen {
    @media (min-width: $xl) {
        @content;
    }
}