@import '../../style/variables';

label {
    font-size: $font-2;
    color: $dark-ligther-brown
}

input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding-left: $p-2;

    &:focus {
        outline-color: $orange;
    }
    
}
