@import "../../style/variables";
@import "../../style/style";


.pictureUploadContainer {
    width: 600px;
    height: 250px;
    padding: $p-2;
    background-color: $orange;
    border-radius: 50px;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: $g-2;
    padding: $p-3;
    z-index: 3;
    position: absolute;
    top: 300px;
    left: 300px;

    .closeIcon {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    input {
      border: 1px solid $dark-green;
    }
  
    button {
      height: 40px;
      border: none;
      border-radius: 10px;
      font-size: $font-3;
      color: $dark-ligther-brown;
    }
  }