@import "../../style/variables";
@import "../../style/style";


.pictureUploadContainer {
    height: 250px;
    padding: $p-2;
    background-color: $orange;
    border-radius: 50px;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: $g-2;
    padding: $p-3;
    z-index: 3;
    position: absolute;

    @include extraSmallScreen {
      width: 450px;
      top: 350px;
      left: 70px;
    }

    @include mediumScreen {
      width: 480px;
      top: 320px;
      left: 300px;
    }

    @include largeScreen {
      width: 600px;
      top: 300px;
      left: 300px;
    }


    .closeIcon {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    button {
      height: 40px;
      border: none;
      border-radius: 10px;
      font-size: $font-3;
      color: $dark-ligther-brown;
    }
  }