@import "../../style/variables";
@import "../../style/style";

.createBookInputs {
    position: relative;
    width: 100%;
  
    .createBookTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      h1 {
        color: $orange;
        padding: $p-1 0 0 $p-4;

        @include extraSmallScreen {
          font-size: $font-1;
        }

        @include mediumScreen {
          font-size: $font-6;
        }
      }
  
      .closeIcon {
        color: $orange;
        padding: $p-4;
      }
    }
  
    .createBookBtn {
      position: absolute;
      top: 180px;
      right: 40px;
  
      * {

        @include extraSmallScreen {
          width: 60px;
          height: 70px;
          font-size: $font-1;
        }

        @include mediumScreen {
          width: 120px;
          font-size: $font-3;
        }
      }
    }
  }