@import "../../style/variables";
@import "../../style/style";

.header {
  width: 100%;
  height: 600px;
  background-color: $primary;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;

  @include smallScreen {
    height: 800px;
    flex-direction: column-reverse;
  }

  @include largeScreen {
    height: 500px;
    flex-direction: row;
    overflow: hidden;
  }

  .title {
    padding-left: $p-4;
    padding-bottom: $p-8;

    @include smallScreen {
        padding-bottom: $p-4;
        padding-top: $p-2;
    }

    h1 {
      color: $dark-green;
      font-size: $font-6;

      @include smallScreen {
        font-size: $font-3;
      }

      @include mediumScreen {
        font-size: $font-4;
      }

      span {
        display: block;
        color: $dark-ligther-brown;
        font-size: 40pt;
        margin-top: $m-5;
      }
    }
  }

  .image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("../../assets/book-illustration-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px 50px 50px 0;

    @include smallScreen {
        width: 500px;
        margin-bottom: $m-4;
    }

    @include mediumScreen {
        width: 100%;
    }

    @include largeScreen {
        background-size: contain;
        margin-top: $m-6;
    }


  }
}
